@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ensure SweetAlert2 buttons are always visible */
.swal2-confirm {
    background-color: #717171 !important; /* Tailwind Blue-500 */
    color: white !important;
    padding: 8px 24px !important;
}

.swal2-cancel {
    background-color: rgb(43, 43, 43) !important; /* Tailwind Red-500 */
    color: white !important;
}
